{% extends "todo_temps/homepage.html" %}
{% block content %}

<div class="container">
    <div class="text-center">
        <div class="login">
            <form method="post">
            {% csrf_token %}
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <input type="hidden">
                <p><input type="text" autofocus name="username" placeholder="Username"></p>
                <p><input type="password" name="password" placeholder="Password"></p>
                <input class="track" type="submit" value="Sigin">
                <p>or</p>
                <button class='regis'>  <a href="{% url 'register' %}">  Register  </a>   </button>
            </form>

            {# Assumes you setup the password_reset view in your URLconf #}
            {# <p><a href="{% url 'password_reset' %}">Lost password?</a></p> #}
        </div>
    </div>

</div>

{% endblock %}